<h1>書籍一覧</h1>
<div class="text-right">
<%= link_to '書籍を追加', new_book_path, class: 'btn btn-primary' %>
</div>
<% unless @books.present? %>
  登録済みの書籍はありません
<% else %>
  <table class="table my-3">
    <thead class="thead-light">
      <tr>
        <th>タイトル</th>
        <th>著者</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book %><%=  %></td>
          <td><%= book.author %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @books %>
<% end %>
